{% extends 'base.html' %}

{% block content %}
<div class="list-group">
	<!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
		<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">List group item heading</h5>
		<small>3 days ago</small>
		</div>
		<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		<small>Donec id elit non mi porta.</small>
	</a> -->
	{% for poll in polls %}
	<a href="{% url 'view_poll' poll.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">{{ poll.title }}</h5>
		<small class="text-muted">{{ poll.start_date }}</small>
		</div>
		<p class="mb-1">{{ poll.descr }}</p>
		{% if poll.anonymous_creator %}
		<small class="text-muted">by Anonymous</small>
		{% else %}
		<small class="text-muted">by {{ poll.creator.first_name }}</small>
		{% endif %}
	</a>
	{% endfor %}
</div>
{% endblock content %}