{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-6 offset-md-3">
    <h3 class="text-center mb-4" style="color: #fff; font-weight: bold;">Sign in</h3>
		<div class="card">
			<div class="card-body">
				<form action="{% url 'accounts.login' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="username">User ID</label>
						<input type="text" name="username" id="username" class="form-control" required />
					</div>

          			<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" class="form-control" required />
					</div>

					<input type="submit" name="" id="" class="btn btn-success float-right" value="Login">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
